* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
    /* background-image: linear-gradient(120deg,#f6d365 ,#fda085); */
    background-image: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5dc34c7d51595b4e9ca53745_path-5185.svg");
    color: #fff;
    font-family: "poppins",sans-serif;
=======
  font-family: "poppins", sans-serif;
>>>>>>> dad73c29f6793469c41943705958030428bf039e
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 2rem;
}

#book-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
